{{#view}}
<fieldset>
    {{#tables}}
    <table class="table table-bordered x-table">
        <tbody>
        {{#records}}
            <tr class="head hidden">
                <td>
                {{#pk}}
                    <input type="hidden" name="{{key}}" value="{{value}}" />
                {{/pk}}
                {{#insert}}
                    <input type="hidden" name="{{key}}" value="{{value}}" />
                {{/insert}}
                </td>
            </tr>
            {{#columns}}

            {{#control}}
            {{#section}}
            <tr class="info">
                <td>
                    <h4>
                        {{section}}
                    </h4>
                    {{#sectionDescription}}
                    <p class="text-muted">
                        {{{sectionDescription}}}
                    </p>
                    {{/sectionDescription}}
                </td>
            </tr>
            {{/section}}
            {{/control}}

            <tr>
                {{>column}}
            </tr>
            {{/columns}}
        {{/records}}

        {{^records}}
            <tr class="head hidden">
                <td>
                    <input type="hidden" name="view[{{name}}][records][0][insert]" value="true" />
                </td>
            </tr>
            {{#blank}}

            {{#control}}
            {{#section}}
            <tr class="info">
                <td>
                    <h4>
                        {{section}}
                    </h4>
                    {{#sectionDescription}}
                    <p class="text-muted">
                        {{{sectionDescription}}}
                    </p>
                    {{/sectionDescription}}
                </td>
            </tr>
            {{/section}}
            {{/control}}

            <tr>
                {{>column}}
            </tr>
            {{/blank}}
        {{/records}}
        </tbody>
    </table>
    {{/tables}}
</fieldset>
{{/view}}