
{{#view}}
<form class="form-inline" action="{{root}}{{action}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<h2>
    {{name}}
    <a href="#" class="glyphicon glyphicon-filter" title="{{string.filter}}"></a>

    {{#table}}
        {{#show.add}}
        <div class="form-group mx-0">
            <a href="{{root}}/{{slug}}/add" class="btn btn-default">{{string.add}} {{name}}</a>
        </div>
        {{/show.add}}

        {{#customActions}}
        <div class="form-group mx-0">
            <button type="submit" class="btn btn-warning" name="action[{{name}}]">{{verbose}}</button>
        </div>
        {{/customActions}}
    {{/table}}
    <input type="hidden" name="_csrf" value="{{csrf}}" />
</h2>
</form>
{{#description}}
<p>
    {{{description}}}
</p>
{{/description}}
{{/view}}

{{#show.success}}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.success}}:</strong> {{string.saved}}.
</div>
{{/show.success}}

{{#show.error}}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.error}}:</strong> {{show.error}}.
</div>
{{/show.error}}

{{>filter}}

<table class="table table-bordered table-striped table-hover x-table">
    <thead>
        <tr class="label-default">
        {{#columns}}
            <th>{{.}}</th>
        {{/columns}}
        </tr>
    </thead>
    <tbody>
    {{#records}}
        <tr>
        {{#pk}}
            <td><a href="{{root}}/{{view.slug}}/{{id}}">{{text}}</a></td>
        {{/pk}}
        {{#values}}
            <td>
                {{^mtm}}{{.}}{{/mtm}}
                {{#mtm}}<span class="label label-default">{{.}}</span>{{/mtm}}
            </td>
        {{/values}}
        </tr>
    {{/records}}
    </tbody>
</table>

{{>pagination}}
